.pageBody {
    font-weight: 300;
    font-size: 16px;
}

#payment_methods_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: grey;
}

@media (max-width: 600px) {
  #payment_methods_container {
    flex-direction: column;
    gap: 5px;
  }
}

#buymeacoffeeButton img:hover {
  filter: brightness(0.9);
}

#paypalButton:hover {
  filter: brightness(0.9);
}
/* Be a patron button */
#bePatronButton {
  background-color: var(--paper-grey-100);
  display: flex;
  justify-content: center;
  padding-bottom: 3px;
}

#bePatronButton a {
  align-items: center;
  background-color: rgb(255, 66, 77);
  border-radius: 9999px;
  border: 1px solid rgb(255, 66, 77);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-weight: 500;
  justify-content: center;
  padding: 7px 17px;
  position: relative;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255) !important;
}

#bePatronButton a:hover {
  background-color: #ff303c;
}

#bePatronButton .svgWrapper {
  height: 14px;
  width: 14px;
  margin-right: 6px;
}

#bePatronButton svg {
  fill: white;
}
