* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: 0;
}

body,
div,
input {
  margin: 0;
  padding: 0;
  border: none;
}

:root {
  --promoteBox-height: 20px;
  --title-height: 30px;
  --about-height: 20px;
  --temp-height: 30px;
  --option-height: 22px;
  --button-s3-width: 111px;
  --button-s3-height: 22px;
  --button-s2-width: 74px;
  --button-s2-height: 22px;
  --radio-width: 38px;
  --radio-height: 22px;
  --border-radius: 2px;
  --on-color: #00d500;
  --on-layer-color: #e0f2e2;
  --no-color: #9e9e9e;
  --no-layer-color: #e0e0e0;
  --off-color: #f40000;
  --off-layer-color: #fff0f0;
  --paper-grey-50: #fafafa;
  --paper-grey-100: #f5f5f5;
  --paper-grey-200: #eeeeee;
  --paper-grey-300: #e0e0e0;
  --paper-grey-400: #bdbdbd;
  --paper-grey-500: #9e9e9e;
  --paper-grey-600: #757575;
  --paper-grey-700: #616161;
  --paper-grey-800: #424242;
  --paper-grey-900: #212121;
  --paper-blue-grey-50: #eceff1;
  --paper-blue-grey-100: #cfd8dc;
  --paper-blue-grey-200: #b0bec5;
  --paper-blue-grey-300: #90a4ae;
  --paper-blue-grey-400: #78909c;
  --paper-blue-grey-500: #607d8b;
  --paper-blue-grey-600: #546e7a;
  --paper-blue-grey-700: #455a64;
  --paper-blue-grey-800: #37474f;
  --paper-blue-grey-900: #263238;
}

body {
  font-family: "Open Sans", "Roboto", -apple-system, "BlinkMacSystemFont", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
}

#container {
  width: 295px;
  height: auto;
}

header {
  height: var(--title-height);
  display: flex;
  padding: 8px 10px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid #e7e7e8;
}

#logo img {
  height: var(--title-height);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: var(--paper-grey-100);
}

#perTab,
#perPage {
  font-size: 14px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px #d2d2d2;
  border: 0.5px solid #e7e7e8;
}

#perPage {
  margin: 10px 0 0;
  display: none;
}

.tab_page_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 0;
  padding: 6px 10px;
  background-color: white;
}

.site_options_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}

.hidden_options_list .list_item {
  opacity: 0;
}

.visible_options_list .list_item {
  transition: opacity 0.5s ease 0.2s;
  opacity: 1;
}

.hidden_options_list .list_item {
  transition: opacity 0.2s ease 0.1s;
  opacity: 0;
}

.hidden_options_list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease;
  margin: 0;
  padding: 0;
}

.visible_options_list {
  transition: max-height 1.5s ease;
  max-height: 500px;
  padding: 10px 0;
  border-top: 0.5px solid #e7e7e8;
}

.options {
  color: #e0e0e0;
  z-index: 3;
  display: flex;
  width: 0;
  transition: width 0.8s ease;
}

.option {
  z-index: 2;
  display: flex;
  align-items: center;
  position: relative;
}

.option input:hover~svg {
  color: #bdbdbd;
}

.option svg {
  opacity: 0;
  width: 0;
  transition: opacity 1s ease;
}

.option input:checked:hover~svg {
  color: #6ee96e;
}

.option input:checked~svg {
  color: var(--on-color);
}

.list_item {
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  width: 225px;
  background-color: white;
  padding: 5px 10px;
  margin-bottom: 5px;
  display: flex;
  color: #5f6368;
  position: relative;
  justify-content: space-between;
}

.list_item input {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.title {
  display: flex;
  align-items: center;
  padding-left: 50px;
  transition: padding 0.8s ease;
  white-space: nowrap;
}

.title svg {
  height: 7px;
  color: red;
  transition: color 0.8s ease;
}

.ptpCheckbox:checked~.title svg {
  color: var(--on-color);
}

.ptpCheckbox:hover~.title {
  color: black;
}

.specific_options .ptpCheckbox:checked~.title {
  padding-left: 0;
}

.ptpCheckbox:checked~.options {
  width: initial;
}

.ptpCheckbox:checked~.options .option {
  padding: 0 2px;
}

.ptpCheckbox:checked~.options svg {
  width: initial;
  opacity: 1;
}

#promoteBox {
  height: var(--promoteBox-height);
  line-height: var(--promoteBox-height);
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
}

#promoteBox a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#rate {
  width: 100%;
}

.star-icon {
  width: 1em;
  padding-right: 5px;
}

.star-icon path {
  fill: #ffe400;
  animation: star 5s linear infinite;
}

@keyframes star {
  0% {
    fill: yellow;
  }

  50% {
    fill: #ffe400;
  }

  100% {
    fill: yellow;
  }
}

#donation {
  width: 100%;
  border-right: 1px solid lightgrey;
}

.links {
  color: #5f6368;
  text-decoration: none;
}

.links:hover {
  color: black;
  cursor: pointer;
}

#apply {
  text-align: center;
  border-radius: 4px;
  background-color: #58d468;
  color: white;
  width: 100%;
  display: none;
  flex-direction: column;
  font-weight: 700;
  padding: 5px 0;
  margin: 10px 0 0;
}

#apply:hover {
  background-color: #60e871;
  cursor: pointer;
}

#pressEnter {
  font-size: 9px;
  font-weight: 300;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.heart {
  fill: red;
  position: relative;
  width: 10px;
  animation: pulse 1s ease infinite;
  padding-right: 5px;
}

/*buttons*/
.knobs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  display: flex;
  border-radius: var(--border-radius);
  overflow: hidden;
  color: #767676;
  background-color: #e0e0e0;
}

.button.s3 {
  width: var(--button-s3-width);
  height: var(--button-s3-height);
}

.button.s2,
.button.s2 .checkbox {
  width: var(--button-s2-width);
  height: var(--button-s2-height);
}

.checkbox {
  position: relative;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.button.s3 .checkbox {
  width: var(--radio-width);
  height: var(--radio-height);
}

.knobs {
  z-index: 2;
}

.button .knobs .on,
.button .knobs .off,
.button .knobs span {
  position: absolute;
  top: 1px;
  width: var(--radio-width);
  height: var(--radio-height);
  display: flex;
  line-height: 21px;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
  padding: 0;
  border-radius: var(--border-radius);
  transition: 0.8s ease all;
  margin: -1px;
}

.button .knobs .on {
  left: var(--radio-width);
}

.button.s2 .knobs .on {
  left: 0;
}

.button .knobs .off {
  right: 0;
}

.button .knobs span.no {
  left: 0;
  background-color: #80808029;
  color: #9e9e9e;
}

.button .on:checked~.knobs .on {
  background-color: var(--on-color);
  box-shadow: 2px 0px 4px #3a3a3a7a;
}

.button .no:checked~.knobs span.no {
  background-color: white;
  border-radius: 0;
}

.button .no:checked~.knobs span.no svg {
  display: none;
}

.button .off:checked~.knobs .off {
  background-color: var(--off-color);
  box-shadow: -2px 0px 4px #3a3a3a7a;
}

.button .off:checked~.knobs .off,
.button .on:checked~.knobs .on {
  color: white;
}

input.on:not(:checked):hover~.knobs .on,
input.no:not(:checked):hover~.knobs .no,
input.off:not(:checked):hover~.knobs .off {
  color: black;
}

.knobs .no svg {
  height: 20px;
  width: 20px;
}

#more {
  background-color: var(--paper-grey-100);
  display: flex;
  justify-content: space-around;
  padding: 5px 0 10px;
  color: gray;
}

#more .links {
  display: flex;
  align-items: center;
}

#more a svg {
  margin-right: 5px;
}

/* Translate button */
#translateButton {
  padding: 3px 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid lightgrey;
  font-style: italic;
}

#translateButton svg {
  margin-right: 5px;
  color: #5291f5;
  height: 14px;
  width: 14px;
}