.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 110%;
  box-shadow: 0px 0px 5px #838383;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext:hover {
  visibility: hidden !important;
}

