#masthead-ad,
ytd-compact-promoted-video-renderer,
ytd-compact-promoted-item-renderer,
#player-ads,
.video-ads,
.ytp-ad-progress-list,
ytd-search-pyv-renderer,
ytd-promoted-sparkles-text-search-renderer,
.ytd-promoted-sparkles-text-search-renderer,
ytd-display-ad-renderer,
ytd-promoted-sparkles-web-renderer,
ytd-engagement-panel-section-list-renderer[target-id="engagement-panel-ads"] {
  visibility: hidden !important;
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}