/*
Copyright © 2026 Nikolaos Pantelidis
All rights reserved.

This file is part of Music Mode for YouTube.
Unauthorized copying, modification, or redistribution of this file is prohibited.

See the LICENSE file in the project root for full license terms.
*/

/* User account icon in topbar */
.topbar-menu-button-avatar img,
.active-account-icon img {
  content: url("../img/photo.jpg") !important;
}

/* Almost all the avatar images */
ytm-profile-icon:not(.topbar-menu-button-avatar):not(.active-account-icon) img,
/* teaser comment's avatar */
img.ytm-comments-entry-point-teaser-avatar,
/* Channel avatar in video description */
img.ytm-infocards-channel-details-thumbnail {
  content: url("../img/avatar-chanell.svg") !important;
}

ytm-profile-icon {
  background-image: url('../img/avatar-chanell.svg') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}