#tooltip_text_mmfytb_thunderarea {
  top: 100%;
  margin-left: -30px;
}

#tooltip_text_mmfytb_thunderarea #tooltip[data-gray="0"]::before {
  content: "__MSG_ShowImages__";
}

#tooltip_text_mmfytb_thunderarea #tooltip[data-gray="1"]::before {
  content: "__MSG_HideImages__";
}

#video_button_mmfytb_thunderarea {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 50% !important;
  float: left;
}

#video_button_mmfytb_thunderarea[data-gray="0"],
#mmfytb_mobile_button {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19' fill='none'%3E%3Cg clip-path='url(%23clip0_15_11)'%3E%3Cpath d='M9.5 19.0001C14.7467 19.0001 19 14.7468 19 9.5001C19 4.2534 14.7467 0.00012207 9.5 0.00012207C4.25329 0.00012207 0 4.2534 0 9.5001C0 14.7468 4.25329 19.0001 9.5 19.0001Z' fill='%23FF0000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.7196 11.688C10.7051 9.83931 10.7304 8.00409 10.7271 6.14562C11.027 6.3485 11.3615 6.54943 11.6811 6.71899C11.852 6.80948 12.008 6.89111 12.1609 6.96824C12.5855 7.18267 12.9995 7.36664 13.4494 7.58138C13.5444 7.62685 13.6415 7.67096 13.7281 7.68657C13.8846 7.71493 13.8846 7.52075 13.8879 7.32268C13.8879 6.63241 13.8948 6.03052 13.8879 5.33995C13.8864 5.16318 13.8802 5.09356 13.7404 4.99752C13.3333 4.76493 12.9259 4.53189 12.5191 4.29885C12.0591 4.03609 11.6693 3.76839 11.2524 3.44126C10.8456 3.12254 10.4394 2.80381 10.0324 2.48479C9.8126 2.33608 9.67094 2.41771 9.67184 2.69952C9.67394 3.3991 9.67634 4.09957 9.67844 4.79914L9.66494 11.3267C9.10582 10.91 8.36648 10.6555 7.55676 10.6555C5.81128 10.6555 4.39563 11.8336 4.39563 13.2862C4.39548 14.7392 5.81113 15.9173 7.55661 15.9173C8.72932 15.9173 9.79324 15.4114 10.2989 14.5957C10.8178 13.7588 10.7256 12.455 10.7196 11.688Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_15_11'%3E%3Crect width='19' height='19' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") !important; 
}

#video_button_mmfytb_thunderarea[data-gray="1"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19' fill='none'%3E%3Cg clip-path='url(%23clip0_15_16)'%3E%3Cpath d='M9.49985 9.42143e-10C6.9803 4.24197e-05 4.56395 1.00097 2.78239 2.78259C1.00082 4.56422 -3.56316e-05 6.98059 9.51413e-10 9.50015C4.25945e-05 12.0197 1.00093 14.436 2.78249 16.2175C4.56405 17.9991 6.98035 19 9.49985 19C12.0194 19 14.4358 17.9992 16.2174 16.2176C17.999 14.436 19 12.0197 19 9.50015C19 8.25257 18.7543 7.0172 18.2769 5.86458C17.7995 4.71196 17.0997 3.66466 16.2175 2.78249C15.3353 1.90032 14.288 1.20054 13.1354 0.72312C11.9828 0.245699 10.7474 -1.75686e-05 9.49985 9.42143e-10ZM9.88298 2.41587C9.92716 2.42472 9.97721 2.44754 10.0322 2.48472C10.4391 2.80375 10.8454 3.12263 11.2522 3.44136C11.669 3.76849 12.059 4.03608 12.5189 4.29883C12.9258 4.53187 13.333 4.7651 13.7401 4.99769C13.8101 5.04571 13.8466 5.08684 13.8658 5.13835C13.885 5.18986 13.8871 5.25153 13.8878 5.33992C13.8947 6.03049 13.8878 6.63236 13.8878 7.32263C13.8862 7.42167 13.8852 7.51977 13.8652 7.58952C13.8552 7.6244 13.8405 7.65225 13.8184 7.66956C13.7963 7.68687 13.7672 7.69372 13.7281 7.68663C13.6415 7.67102 13.5444 7.62675 13.4494 7.58129C12.9995 7.36655 12.5855 7.18278 12.1608 6.96834C12.0079 6.89121 11.8518 6.80959 11.6809 6.71911C11.3613 6.54954 11.0269 6.34848 10.7269 6.1456C10.7302 8.00408 10.7052 9.83924 10.7196 11.688C10.7226 12.0714 10.7471 12.5893 10.706 13.1157C10.6855 13.3789 10.6484 13.6445 10.5842 13.8964C10.52 14.1483 10.4285 14.3866 10.2988 14.5958C10.1723 14.7998 10.011 14.9843 9.82177 15.1464C9.63259 15.3085 9.41553 15.4483 9.17764 15.5625C8.93975 15.6767 8.681 15.7654 8.40845 15.8255C8.13589 15.8857 7.84975 15.9173 7.55657 15.9173C7.33838 15.9173 7.12525 15.8988 6.9195 15.8638C6.71374 15.8287 6.51536 15.7771 6.32627 15.7105C6.13718 15.6439 5.95742 15.5626 5.78925 15.468C5.62107 15.3734 5.4644 15.2657 5.32138 15.1467C5.17836 15.0276 5.04893 14.8974 4.93531 14.7574C4.82169 14.6174 4.72398 14.4678 4.64399 14.3104C4.56401 14.153 4.50189 13.9876 4.45979 13.8163C4.41768 13.6451 4.39533 13.4677 4.39534 13.2861C4.39534 13.1045 4.41767 12.9274 4.45979 12.7561C4.50191 12.5849 4.564 12.4197 4.64399 12.2624C4.72399 12.105 4.82197 11.9553 4.9356 11.8154C5.04923 11.6754 5.17835 11.5451 5.32138 11.4261C5.4644 11.307 5.62107 11.1993 5.78925 11.1047C5.95743 11.0102 6.13718 10.9288 6.32627 10.8623C6.51536 10.7957 6.71403 10.744 6.91979 10.709C7.12555 10.6739 7.33838 10.6554 7.55657 10.6554C7.759 10.6554 7.95699 10.6715 8.14891 10.7019C8.34083 10.7323 8.5268 10.777 8.70477 10.8349C8.88274 10.8928 9.05265 10.9637 9.21324 11.0462C9.37384 11.1286 9.52515 11.2224 9.66493 11.3266L9.67817 4.79907C9.67607 4.09949 9.6738 3.3991 9.6717 2.69953C9.67125 2.55863 9.70632 2.46792 9.7691 2.43087C9.80049 2.41235 9.8388 2.40701 9.88298 2.41587Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_15_16'%3E%3Crect width='19' height='19' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") !important;
}

#video_button_mmfytb_thunderarea.shorts-video-button[data-gray="1"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19' fill='none'%3E%3Cg clip-path='url(%23clip0_14_8)'%3E%3Cpath d='M9.49985 9.42143e-10C6.9803 4.24197e-05 4.56395 1.00097 2.78239 2.78259C1.00082 4.56422 -3.56316e-05 6.98059 9.51413e-10 9.50015C4.25945e-05 12.0197 1.00093 14.436 2.78249 16.2175C4.56405 17.9991 6.98035 19 9.49985 19C12.0194 19 14.4358 17.9992 16.2174 16.2176C17.999 14.436 19 12.0197 19 9.50015C19 8.25257 18.7543 7.0172 18.2769 5.86458C17.7995 4.71196 17.0997 3.66466 16.2175 2.78249C15.3353 1.90032 14.288 1.20054 13.1354 0.72312C11.9828 0.245699 10.7474 -1.75686e-05 9.49985 9.42143e-10ZM9.88298 2.41587C9.92716 2.42472 9.97721 2.44754 10.0322 2.48472C10.4391 2.80375 10.8454 3.12263 11.2522 3.44136C11.669 3.76849 12.059 4.03608 12.5189 4.29883C12.9258 4.53187 13.333 4.7651 13.7401 4.99769C13.8101 5.04571 13.8466 5.08684 13.8658 5.13835C13.885 5.18986 13.8871 5.25153 13.8878 5.33992C13.8947 6.03049 13.8878 6.63236 13.8878 7.32263C13.8862 7.42167 13.8852 7.51977 13.8652 7.58952C13.8552 7.6244 13.8405 7.65225 13.8184 7.66956C13.7963 7.68687 13.7672 7.69372 13.7281 7.68663C13.6415 7.67102 13.5444 7.62675 13.4494 7.58129C12.9995 7.36655 12.5855 7.18278 12.1608 6.96834C12.0079 6.89121 11.8518 6.80959 11.6809 6.71911C11.3613 6.54954 11.0269 6.34848 10.7269 6.1456C10.7302 8.00408 10.7052 9.83924 10.7196 11.688C10.7226 12.0714 10.7471 12.5893 10.706 13.1157C10.6855 13.3789 10.6484 13.6445 10.5842 13.8964C10.52 14.1483 10.4285 14.3866 10.2988 14.5958C10.1723 14.7998 10.011 14.9843 9.82177 15.1464C9.63259 15.3085 9.41553 15.4483 9.17764 15.5625C8.93975 15.6767 8.681 15.7654 8.40845 15.8255C8.13589 15.8857 7.84975 15.9173 7.55657 15.9173C7.33838 15.9173 7.12525 15.8988 6.9195 15.8638C6.71374 15.8287 6.51536 15.7771 6.32627 15.7105C6.13718 15.6439 5.95742 15.5626 5.78925 15.468C5.62107 15.3734 5.4644 15.2657 5.32138 15.1467C5.17836 15.0276 5.04893 14.8974 4.93531 14.7574C4.82169 14.6174 4.72398 14.4678 4.64399 14.3104C4.56401 14.153 4.50189 13.9876 4.45979 13.8163C4.41768 13.6451 4.39533 13.4677 4.39534 13.2861C4.39534 13.1045 4.41767 12.9274 4.45979 12.7561C4.50191 12.5849 4.564 12.4197 4.64399 12.2624C4.72399 12.105 4.82197 11.9553 4.9356 11.8154C5.04923 11.6754 5.17835 11.5451 5.32138 11.4261C5.4644 11.307 5.62107 11.1993 5.78925 11.1047C5.95743 11.0102 6.13718 10.9288 6.32627 10.8623C6.51536 10.7957 6.71403 10.744 6.91979 10.709C7.12555 10.6739 7.33838 10.6554 7.55657 10.6554C7.759 10.6554 7.95699 10.6715 8.14891 10.7019C8.34083 10.7323 8.5268 10.777 8.70477 10.8349C8.88274 10.8928 9.05265 10.9637 9.21324 11.0462C9.37384 11.1286 9.52515 11.2224 9.66493 11.3266L9.67817 4.79907C9.67607 4.09949 9.6738 3.3991 9.6717 2.69953C9.67125 2.55863 9.70632 2.46792 9.7691 2.43087C9.80049 2.41235 9.8388 2.40701 9.88298 2.41587Z' fill='%236B6B6B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_14_8'%3E%3Crect width='19' height='19' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") !important;
}

#video_button_mmfytb_thunderarea.shorts-video-button {
  margin-bottom: 12px;
}

.ytp-autonav-toggle-button {
  margin-right: auto !important;
  margin-left: auto !important;
  padding-right: 1px !important;
}

#mmfytb_mobile_button {
  background-position: center center;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  pointer-events: all;
}

#topbar_button_mmfytb_thunderarea {
  box-sizing: border-box;
  padding: 8px;
  margin-right: 8px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 24px;
  color: var(--yt-spec-icon-active-other);
}

#topbar_button_mmfytb_thunderarea .icon-container {
  width: 100%;
  height: 100%;
}

#topbar_button_mmfytb_thunderarea:hover {
  background-color: var(--yt-spec-10-percent-layer);
}

.mobile-topbar-header[data-mode=shorts] .mobile-topbar-header-content {
  right: 3px !important;
}

ytd-masthead[dark] #topbar_button_mmfytb_thunderarea svg {
  color: white;
}

#actions reel-action-bar-view-model 