/*thumbnail*/
ytd-thumbnail-overlay-time-status-renderer {
  height: 100% !important;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0 !important;
  margin: 0 !important;
  background-color: #323232 !important;
}

ytd-thumbnail img {
  display: none !important;
}

/*playlist-mix*/
ytd-thumbnail-overlay-side-panel-renderer {
  width: 100% !important;
  background-color: #323232 !important;
}

.iv-card-image {
  background: none !important;
  height: auto !important;
}

.iv-card-video-duration {
  position: relative !important;
  display: block !important;
  bottom: 0 !important;
  right: 0 !important;
  text-align: center !important;
  padding: 5px 0 !important;
  background-color: #323232 !important;
}

.iv-card-image-text {
  position: relative !important;
  display: block !important;
  padding: 5px !important;
  background-image: none !important;
  background-color: #323232 !important;
}

.iv-card-playlist .iv-card-image-overlay {
  position: relative !important;
  width: 100% !important;
  padding: 5px 0 !important;
}

/*Description of videos when you press pause in embed videos*/
.ytp-suggestion-overlay {
  opacity: 1 !important;
}

/*images of videos when you press pause in embed videos*/
.ytp-pause-overlay .ytp-suggestion-image {
  background-image: none !important;
}

.ytp-videowall-still-info-content {
  opacity: 1 !important;
}

ytd-movie-offer-module-renderer yt-img-shadow {
  display: none !important;
}

.html5-ypc-thumbnail {
  display: none !important;
}

.ytp-cued-thumbnail-overlay-image {
  display: none !important;
}

.ytp-ce-element .ytp-ce-covering-image {
  background: none !important;
}

.ytp-ce-element:not(.ytp-ce-channel) {
  height: auto !important;
}

.ytp-ce-element.ytp-ce-video .ytp-ce-video-duration {
  position: relative !important;
  background-color: #00000000 !important;
  overflow: visible !important;
}

.ytp-ce-playlist-count {
  position: relative !important;
  overflow: visible !important;
}

.ytp-ce-element .ytp-ce-covering-overlay {
  position: relative !important;
}

.ytp-show-tiles .ytp-videowall-still .ytp-videowall-still-image {
  background-image: url('../img/youtube_logo.svg') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 30% 30% !important;
  background-color: #323232 !important;
}

.ytp-tooltip.ytp-text-detail.ytp-preview .ytp-tooltip-bg {
  height: auto !important;
  width: auto !important;
  padding: 0 9px !important;
  text-align: left !important;
  margin: 5px 0;
  background-color: transparent !important;
  background-image: none !important;
}

.ytp-tooltip.ytp-text-detail.ytp-preview {
  background-color: #1c1c1ce6 !important;
  display: flex;
  flex-direction: column !important;
  width: auto !important;
}

.ytp-tooltip.ytp-text-detail.ytp-preview .ytp-tooltip-text-wrapper {
  max-height: 100px !important;
  max-width: 312px !important;
}

.ytp-tooltip.ytp-text-detail.ytp-preview.ytp-has-duration .ytp-tooltip-duration {
  position: relative !important;
  right: 0 !important;
  bottom: 0 !important;
  padding: 0 !important;
  background-color: transparent !important;
}

/*playlist page "play all"*/
ytd-playlist-thumbnail.ytd-playlist-sidebar-primary-info-renderer {
  height: 45px !important;
}

/* playlist's page. Playlist thumbnail */
ytd-playlist-thumbnail.ytd-playlist-sidebar-primary-info-renderer:before {
  padding: 0 !important;
}

ytd-playlist-thumbnail {
  margin-top: 0 !important;
}

ytd-playlist-sidebar-primary-info-renderer img {
  display: none !important;
}

ytd-playlist-video-renderer img {
  display: none !important;
}

ytd-compact-playlist-renderer img,
ytd-compact-radio-renderer img,
ytd-compact-video-renderer img,
ytd-playlist-renderer img,
ytd-radio-renderer img,
ytd-video-renderer img,
ytd-playlist-panel-supported-items img,
ytd-playlist-panel-video-renderer img {
  display: none !important;
}

div#mouseover-overlay {
  display: none !important;
}

ytd-grid-movie-renderer ytd-thumbnail,
ytd-rich-movie-renderer ytd-thumbnail {
  height: 118px !important;
}

ytd-thumbnail #overlays, ytd-grid-movie-renderer yt-img-shadow, ytd-rich-movie-renderer yt-img-shadow {
  background-image: url('../img/youtube_logo.svg') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 40% 40% !important;
  background-color: #323232 !important;
  height: 100% !important;
  width: 100% !important;
}

ytd-thumbnail.ytd-grid-video-renderer img {
  display: none !important;
}

ytd-game-details-renderer img {
  display: none !important;
}

ytd-grid-movie-renderer img,
ytd-rich-movie-renderer img {
  display: none !important;
}

ytd-thumbnail.ytd-rich-movie-renderer:before {
  display: none !important;
}

ytd-grid-playlist-renderer img,
ytd-grid-radio-renderer img {
  display: none !important;
}

/*when you click on a game in games page*/
#box-art.ytd-interactive-tabbed-header-renderer {
  display: none !important;
}

.ytd-thumbnail-overlay-toggle-button-renderer {
  z-index: 140;
}

/*the games in games page*/
ytd-game-details-renderer yt-img-shadow {
  display: none !important;
}

/*Youtube originals section*/
ytd-grid-show-renderer img {
  display: none !important;
}

/*Youtube originals section. the text and its background*/
ytd-grid-show-renderer #overlays ytd-thumbnail-overlay-bottom-panel-renderer,
ytd-grid-playlist-renderer #overlays ytd-thumbnail-overlay-bottom-panel-renderer,
ytd-grid-radio-renderer #overlays ytd-thumbnail-overlay-bottom-panel-renderer {
  height: 100% !important;
}

/*the image in posts in the community section of a channel*/
ytd-backstage-post-thread-renderer img {
  display: none !important;
}

/*movies in search*/
ytd-movie-renderer ytd-thumbnail {
  width: 100% !important;
}

#overlays.ytd-thumbnail {
  display: block !important;
}

ytd-thumbnail-overlay-bottom-panel-renderer {
  height: 100% !important;
  width: 100%;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  background-color: #323232 !important;
  justify-content: center !important;
}

/* The various parts of the video in the video's decription */
ytd-macro-markers-list-item-renderer #thumbnail {
  display: none !important;
}

ytd-hero-playlist-thumbnail-renderer img {
  display: none !important;
}

ytd-hero-playlist-thumbnail-renderer ytd-thumbnail-overlay-hover-text-renderer {
  opacity: 1 !important;
}

ytd-expandable-metadata-renderer #thumbnail {
  display: none !important;
}

ytd-expandable-metadata-renderer #left-section {
  padding-left: 10px !important;
}

ytd-horizontal-card-list-renderer #items::before {
  top: 19px !important;
}

ytd-horizontal-card-list-renderer #items ytd-macro-markers-list-item-renderer,
ytd-video-renderer ytd-expandable-metadata-renderer[is-expanded] #content {
  height: auto !important;
}

ytd-video-renderer ytd-expandable-metadata-renderer ytd-horizontal-card-list-renderer #items ytd-macro-markers-list-item-renderer {
  vertical-align: top !important;
}

ytd-backstage-post-renderer #author-thumbnail {
  display: none !important;
}

ytd-compact-station-renderer .flex-container.ytd-compact-station-renderer {
  background-color: transparent !important;
}

.ytp-autonav-endscreen-upnext-thumbnail,
.ytp-autonav-endscreen-upnext-button {
  background-color: #323232 !important;
}

/* Delete the video thumbnail when you hover over the video */
#media-container #thumbnail-container {
  display: none !important;
}

#time-status.ytd-thumbnail-overlay-time-status-renderer {
  background-color: transparent !important;
}